IDA58U_1008/IDA58U_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="https//www.w3.org/2001/XMLSchema" attributeFormDefault="qualified">
    <xs:element name="orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="oraTipus" minOccurence="0" maxOccurence="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element name="targy" type="string"/>
            <xs:element name="idopont" type="idopontTipus"/>
            <xs:element name="helyszin" type="string"/>
            <xs:element name="oktato" type="string"/>
            <xs:element name="szak" type="string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="tipus" type="oraTipusTipus" default="eloadas"/>
    </xs:complexType>

    <xs:simpleType name="oraTipusTipus">
        <xs:restriction base="xd:string">
            <xs:enumeration value="eloadas" />
            <xs:enumeration value="gyakorlat" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="napTipus"/>
            <xs:element name="tol" type="idopontOraTipus"/>
            <xs:element name="ig" type="idopontOraTipus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="napTipus">
        <xs:restriction base="xd:string">
            <xs:enumeration value="szerda" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="idopontOraTipus">
        <xs:restriction base="xd:positiveInteger">
            <xs:minInclusive value="10" />
            <xs:maxInclusive value="16" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>