IDA58U_1008/IDA58U_orarend2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targy"/>
              <xs:element name="idopont">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nap"/>
                    <xs:element type="xs:byte" name="tol"/>
                    <xs:element type="xs:byte" name="ig"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="helyszin"/>
              <xs:element type="xs:string" name="oktato"/>
              <xs:element type="xs:string" name="szak"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="tipus" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs1:attribute ref="xs:noNamespaceSchemaLocation" xmlns:xs="https//www.w3.org/2001/XMLSchema" xmlns:xs1="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>