IDA58U_1112/studentIDA58U.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="https//www.w3.org/2001/XMLSchema" attributeFormDefault="qualified">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="studentType" minOccurence="0" maxOccurence="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="vezeteknev" type="string"/>
            <xs:element name="keresztnev" type="string"/>
            <xs:element name="becenev" type="string"/>
            <xs:element name="kor" type="integer"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
</xs:schema>